In [101]:
paragraph = """This is the NLP session that is going on and finally we are happy. Is everyone happy. iNeuron is a company where we tech all the tech"""

In [102]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\VED\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\VED\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [103]:
sentences = nltk.sent_tokenize(paragraph)
sentences

['This is the NLP session that is going on and finally we are happy.',
 'Is everyone happy.',
 'iNeuron is a company where we tech all the tech']

In [104]:
nltk.word_tokenize(paragraph)

['This',
 'is',
 'the',
 'NLP',
 'session',
 'that',
 'is',
 'going',
 'on',
 'and',
 'finally',
 'we',
 'are',
 'happy',
 '.',
 'Is',
 'everyone',
 'happy',
 '.',
 'iNeuron',
 'is',
 'a',
 'company',
 'where',
 'we',
 'tech',
 'all',
 'the',
 'tech']

In [105]:
#stemming Impliment
from nltk import PorterStemmer
stemmer = PorterStemmer()

In [106]:
stemmer.stem("history")

'histori'

In [107]:
from nltk.stem import WordNetLemmatizer
nltk.download('omw-1.4')
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\VED\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [108]:
lemmatizer.lemmatize("history")

'history'

In [109]:
print(sentences)
new_words_paragraph = ""
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words]
    words = " ".join(words)
    new_words_paragraph = new_words_paragraph+words
    
new_words_paragraph

['This is the NLP session that is going on and finally we are happy.', 'Is everyone happy.', 'iNeuron is a company where we tech all the tech']

'thi is the nlp session that is go on and final we are happi .is everyon happi .ineuron is a compani where we tech all the tech'

In [110]:
print(sentences)
new_words_paragraph = ""
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [lemmatizer.lemmatize(word) for word in words]
    words = " ".join(words)
    new_words_paragraph = new_words_paragraph+words
    
new_words_paragraph

['This is the NLP session that is going on and finally we are happy.', 'Is everyone happy.', 'iNeuron is a company where we tech all the tech']

'This is the NLP session that is going on and finally we are happy .Is everyone happy .iNeuron is a company where we tech all the tech'

In [111]:
paragraph = '''
Ratan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons. He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.[2][3] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.[4]

Born in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group. He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.[5] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991. He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business. Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world. '''

In [112]:
paragraph

"\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons. He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.[2][3] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.[4]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group. He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.[5] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991. He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business. Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world. "

In [113]:
sentences = nltk.sent_tokenize(paragraph)
sentences

['\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons.',
 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.',
 '[2][3] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.',
 '[4]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.',
 "[5] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.",
 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.',
 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

In [114]:
print(sentences)
new_words_paragraph = ""
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [lemmatizer.lemmatize(word) for word in words]
    words = " ".join(words)
    new_words_paragraph = new_words_paragraph+words
    
new_words_paragraph

['\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons.', 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.', '[2][3] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.', '[4]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.', 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.', "[5] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.", 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.', 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

"Ratan Naval Tata ( Ratan Ṭāṭā , born 28 December 1937 ) is an Indian industrialist , philanthropist , and a former chairman of Tata Sons .He wa the chairman of Tata Group , from 1990 to 2012 , and again , a interim chairman , from October 2016 through February 2017 , and continues to head it charitable trust .[ 2 ] [ 3 ] He is the recipient of two civilian award of India , the Padma Vibhushan ( 2008 ) , the second highest civilian honour , and the Padma Bhushan ( 2000 ) , the third highest civilian honour .[ 4 ] Born in 1937 , he is an heir of the Tata family , and son of Naval Tata who wa later adopted by Ratanji Tata , son of Jamsetji Tata , the founder of Tata Group .He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975 .[ 5 ] He joined his company in 1961 when he used to work on the shop floor of Tata Steel , and wa the apparent successor to J. R. D. Tata upon the latter 's retirement in 1991 .He got Tata Tea to acquire Tetley , Tata Motors to acquire Jaguar Land Rover , and Tata Steel to acquire Corus , in an attempt to turn Tata from a largely India-centrist group into a global business .Around 60-65 % of his profit are donated to charity making him one of the most significant philanthropist in the world ."

In [115]:
lemmatizer.lemmatize("was")

'wa'

In [116]:
print(sentences)
new_words_paragraph = ""
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words]
    words = " ".join(words)
    new_words_paragraph = new_words_paragraph+words
    
new_words_paragraph

['\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons.', 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.', '[2][3] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.', '[4]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.', 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.', "[5] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.", 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.', 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

"ratan naval tata ( ratan ṭāṭā , born 28 decemb 1937 ) is an indian industrialist , philanthropist , and a former chairman of tata son .he wa the chairman of tata group , from 1990 to 2012 , and again , as interim chairman , from octob 2016 through februari 2017 , and continu to head it charit trust .[ 2 ] [ 3 ] he is the recipi of two civilian award of india , the padma vibhushan ( 2008 ) , the second highest civilian honour , and the padma bhushan ( 2000 ) , the third highest civilian honour .[ 4 ] born in 1937 , he is an heir of the tata famili , and son of naval tata who wa later adopt by ratanji tata , son of jamsetji tata , the founder of tata group .he is an alumnu of the cornel univers colleg of architectur and harvard busi school through the advanc manag program that he complet in 1975 .[ 5 ] he join hi compani in 1961 when he use to work on the shop floor of tata steel , and wa the appar successor to j. r. d. tata upon the latter 's retir in 1991 .he got tata tea to acquir tetley , tata motor to acquir jaguar land rover , and tata steel to acquir coru , in an attempt to turn tata from a larg india-centrist group into a global busi .around 60-65 % of hi profit are donat to chariti make him one of the most signific philanthropist in the world ."

In [117]:
# remove stop words
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\VED\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [118]:
from nltk.corpus import stopwords
stop_word = stopwords.words('english')
stop_word

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [119]:
paragraph = """This is the NLP session that is going on and finally we are happy.
Is everyone happy. 
iNeuron is a company where we tech all the tech"""
my_stop_word = [word for word in stop_word if word not in ["no","nor","not"]]
my_stop_word

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [120]:
for i in ["changes","change","changing","changer","changeable"]:
    print(lemmatizer.lemmatize(i))

change
change
changing
changer
changeable

In [121]:
lemmatizer.lemmatize("sweetness")
lemmatizer.lemmatize("better",pos="a")

'good'

In [122]:
print(sentences)
new_words_paragraph = ""
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i].lower())
    words = [stemmer.stem(word) for word in words if word not in stop_word]
    words = " ".join(words)
    new_words_paragraph = new_words_paragraph+words
    
new_words_paragraph

['\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons.', 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.', '[2][3] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.', '[4]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.', 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.', "[5] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.", 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.', 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

"ratan naval tata ( ratan ṭāṭā , born 28 decemb 1937 ) indian industrialist , philanthropist , former chairman tata son .chairman tata group , 1990 2012 , , interim chairman , octob 2016 februari 2017 , continu head charit trust .[ 2 ] [ 3 ] recipi two civilian award india , padma vibhushan ( 2008 ) , second highest civilian honour , padma bhushan ( 2000 ) , third highest civilian honour .[ 4 ] born 1937 , heir tata famili , son naval tata later adopt ratanji tata , son jamsetji tata , founder tata group .alumnu cornel univers colleg architectur harvard busi school advanc manag program complet 1975 .[ 5 ] join compani 1961 use work shop floor tata steel , appar successor j. r. d. tata upon latter 's retir 1991 .got tata tea acquir tetley , tata motor acquir jaguar land rover , tata steel acquir coru , attempt turn tata larg india-centrist group global busi .around 60-65 % profit donat chariti make one signific philanthropist world ."

In [123]:
from sklearn.feature_extraction.text import CountVectorizer

In [124]:
sentences

['\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons.',
 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.',
 '[2][3] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.',
 '[4]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.',
 "[5] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.",
 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.',
 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

In [125]:
import re
corpus1 = []
for i in range(len(sentences)):
    text = re.sub('[^a-zA-z0-9]',' ',sentences[i])
    text = text.lower()
    text = text.split()
    words = [lemmatizer.lemmatize(word) for word in text if not word in stop_word]
    print(words)
    corpus1.append(' '.join(words))

['ratan', 'naval', 'tata', 'ratan', 'born', '28', 'december', '1937', 'indian', 'industrialist', 'philanthropist', 'former', 'chairman', 'tata', 'son']
['chairman', 'tata', 'group', '1990', '2012', 'interim', 'chairman', 'october', '2016', 'february', '2017', 'continues', 'head', 'charitable', 'trust']
['[2][3]', 'recipient', 'two', 'civilian', 'award', 'india', 'padma', 'vibhushan', '2008', 'second', 'highest', 'civilian', 'honour', 'padma', 'bhushan', '2000', 'third', 'highest', 'civilian', 'honour']
['[4]', 'born', '1937', 'heir', 'tata', 'family', 'son', 'naval', 'tata', 'later', 'adopted', 'ratanji', 'tata', 'son', 'jamsetji', 'tata', 'founder', 'tata', 'group']
['alumnus', 'cornell', 'university', 'college', 'architecture', 'harvard', 'business', 'school', 'advanced', 'management', 'program', 'completed', '1975']
['[5]', 'joined', 'company', '1961', 'used', 'work', 'shop', 'floor', 'tata', 'steel', 'apparent', 'successor', 'j', 'r', 'tata', 'upon', 'latter', 'retirement', '1991']
['got', 'tata', 'tea', 'acquire', 'tetley', 'tata', 'motor', 'acquire', 'jaguar', 'land', 'rover', 'tata', 'steel', 'acquire', 'corus', 'attempt', 'turn', 'tata', 'largely', 'india', 'centrist', 'group', 'global', 'business']
['around', '60', '65', 'profit', 'donated', 'charity', 'making', 'one', 'significant', 'philanthropist', 'world']

In [126]:
corpus

['ratan naval tata ratan born 28 december 1937 indian industrialist philanthropist former chairman tata son',
 'chairman tata group 1990 2012 interim chairman october 2016 february 2017 continues head charitable trust',
 '[2][3] recipient two civilian award india padma vibhushan 2008 second highest civilian honour padma bhushan 2000 third highest civilian honour',
 '[4] born 1937 heir tata family son naval tata later adopted ratanji tata son jamsetji tata founder tata group',
 'alumnus cornell university college architecture harvard business school advanced management program completed 1975',
 '[5] joined company 1961 used work shop floor tata steel apparent successor j r tata upon latter retirement 1991',
 'got tata tea acquire tetley tata motor acquire jaguar land rover tata steel acquire corus attempt turn tata largely india centrist group global business',
 'around 60 65 profit donated charity making one significant philanthropist world']

In [127]:

cv=CountVectorizer(binary=True,ngram_range=(1,2))

In [128]:
# Applied Bag of words
cv.fit_transform(corpus).toarray().shape

cv.fit_transform(corpus).toarray()

array([[1, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]], dtype=int64)

In [129]:
cv.vocabulary_

{'ratan': 152,
 'naval': 136,
 'tata': 179,
 'born': 47,
 '28': 19,
 'december': 76,
 '1937': 0,
 'indian': 110,
 'industrialist': 112,
 'philanthropist': 145,
 'former': 86,
 'chairman': 54,
 'son': 171,
 'ratan naval': 154,
 'naval tata': 137,
 'tata ratan': 186,
 'ratan born': 153,
 'born 28': 49,
 '28 december': 20,
 'december 1937': 77,
 '1937 indian': 2,
 'indian industrialist': 111,
 'industrialist philanthropist': 113,
 'philanthropist former': 146,
 'former chairman': 87,
 'chairman tata': 56,
 'tata son': 187,
 'group': 94,
 '1990': 6,
 '2012': 13,
 'interim': 114,
 'october': 138,
 '2016': 15,
 'february': 82,
 '2017': 17,
 'continues': 70,
 'head': 99,
 'charitable': 57,
 'trust': 197,
 'tata group': 182,
 'group 1990': 95,
 '1990 2012': 7,
 '2012 interim': 14,
 'interim chairman': 115,
 'chairman october': 55,
 'october 2016': 139,
 '2016 february': 16,
 'february 2017': 83,
 '2017 continues': 18,
 'continues head': 71,
 'head charitable': 100,
 'charitable trust': 58,
 'recipient': 157,
 'two': 200,
 'civilian': 61,
 'award': 43,
 'india': 107,
 'padma': 142,
 'vibhushan': 208,
 '2008': 11,
 'second': 165,
 'highest': 103,
 'honour': 105,
 'bhushan': 45,
 '2000': 9,
 'third': 195,
 'recipient two': 158,
 'two civilian': 201,
 'civilian award': 62,
 'award india': 44,
 'india padma': 109,
 'padma vibhushan': 144,
 'vibhushan 2008': 209,
 '2008 second': 12,
 'second highest': 166,
 'highest civilian': 104,
 'civilian honour': 63,
 'honour padma': 106,
 'padma bhushan': 143,
 'bhushan 2000': 46,
 '2000 third': 10,
 'third highest': 196,
 'heir': 101,
 'family': 80,
 'later': 126,
 'adopted': 29,
 'ratanji': 155,
 'jamsetji': 118,
 'founder': 88,
 'born 1937': 48,
 '1937 heir': 1,
 'heir tata': 102,
 'tata family': 180,
 'family son': 81,
 'son naval': 173,
 'tata later': 184,
 'later adopted': 127,
 'adopted ratanji': 30,
 'ratanji tata': 156,
 'son jamsetji': 172,
 'jamsetji tata': 119,
 'tata founder': 181,
 'founder tata': 89,
 'alumnus': 33,
 'cornell': 72,
 'university': 202,
 'college': 64,
 'architecture': 37,
 'harvard': 97,
 'business': 50,
 'school': 163,
 'advanced': 31,
 'management': 132,
 'program': 150,
 'completed': 68,
 '1975': 5,
 'alumnus cornell': 34,
 'cornell university': 73,
 'university college': 203,
 'college architecture': 65,
 'architecture harvard': 38,
 'harvard business': 98,
 'business school': 51,
 'school advanced': 164,
 'advanced management': 32,
 'management program': 133,
 'program completed': 151,
 'completed 1975': 69,
 'joined': 120,
 'company': 66,
 '1961': 3,
 'used': 206,
 'work': 210,
 'shop': 167,
 'floor': 84,
 'steel': 174,
 'apparent': 35,
 'successor': 177,
 'upon': 204,
 'latter': 128,
 'retirement': 159,
 '1991': 8,
 'joined company': 121,
 'company 1961': 67,
 '1961 used': 4,
 'used work': 207,
 'work shop': 211,
 'shop floor': 168,
 'floor tata': 85,
 'tata steel': 188,
 'steel apparent': 176,
 'apparent successor': 36,
 'successor tata': 178,
 'tata upon': 190,
 'upon latter': 205,
 'latter retirement': 129,
 'retirement 1991': 160,
 'got': 92,
 'tea': 191,
 'acquire': 25,
 'tetley': 193,
 'motor': 134,
 'jaguar': 116,
 'land': 122,
 'rover': 161,
 'corus': 74,
 'attempt': 41,
 'turn': 198,
 'largely': 124,
 'centrist': 52,
 'global': 90,
 'got tata': 93,
 'tata tea': 189,
 'tea acquire': 192,
 'acquire tetley': 28,
 'tetley tata': 194,
 'tata motor': 185,
 'motor acquire': 135,
 'acquire jaguar': 27,
 'jaguar land': 117,
 'land rover': 123,
 'rover tata': 162,
 'steel acquire': 175,
 'acquire corus': 26,
 'corus attempt': 75,
 'attempt turn': 42,
 'turn tata': 199,
 'tata largely': 183,
 'largely india': 125,
 'india centrist': 108,
 'centrist group': 53,
 'group global': 96,
 'global business': 91,
 'around': 39,
 '60': 21,
 '65': 23,
 'profit': 148,
 'donated': 78,
 'charity': 59,
 'making': 130,
 'one': 140,
 'significant': 169,
 'world': 212,
 'around 60': 40,
 '60 65': 22,
 '65 profit': 24,
 'profit donated': 149,
 'donated charity': 79,
 'charity making': 60,
 'making one': 131,
 'one significant': 141,
 'significant philanthropist': 170,
 'philanthropist world': 147}

In [130]:
from sklearn.feature_extraction.text import TfidfTransformer

In [131]:
tf_idf = TfidfTransformer()

In [134]:
import numpy as np
corpus = ['ratan naval tata ratan born 28 decemb 1937 indian industrialist philanthropist former chairman tata son',
 'chairman tata group 1990 2012 interim chairman octob 2016 februari 2017 continu head charit trust',
 '3 4 recipi two civilian award india padma vibhushan 2008 second highest civilian honour padma bhushan 2000 third highest civilian honour',
 '5 born 1937 heir tata famili son naval tata later adopt ratanji tata son jamsetji tata founder tata group',
 'alumnu cornel univers colleg architectur harvard busi school advanc manag program complet 1975',
 '6 join compani 1961 use work shop floor tata steel appar successor j r tata upon latter retir 1991',
 'got tata tea acquir tetley tata motor acquir jaguar land rover tata steel acquir coru attempt turn tata larg india centrist group global busi',
 'around 60 65 profit donat chariti make one signific philanthropist world']
tf_idf.fit_transform(corpus).toarray()

ValueError: Expected 2D array, got 1D array instead:
array=['ratan naval tata ratan born 28 decemb 1937 indian industrialist philanthropist former chairman tata son'
 'chairman tata group 1990 2012 interim chairman octob 2016 februari 2017 continu head charit trust'
 '3 4 recipi two civilian award india padma vibhushan 2008 second highest civilian honour padma bhushan 2000 third highest civilian honour'
 '5 born 1937 heir tata famili son naval tata later adopt ratanji tata son jamsetji tata founder tata group'
 'alumnu cornel univers colleg architectur harvard busi school advanc manag program complet 1975'
 '6 join compani 1961 use work shop floor tata steel appar successor j r tata upon latter retir 1991'
 'got tata tea acquir tetley tata motor acquir jaguar land rover tata steel acquir coru attempt turn tata larg india centrist group global busi'
 'around 60 65 profit donat chariti make one signific philanthropist world'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
corpus

['ratan naval tata ratan born 28 december 1937 indian industrialist philanthropist former chairman tata son',
 'chairman tata group 1990 2012 interim chairman october 2016 february 2017 continues head charitable trust',
 '[2][3] recipient two civilian award india padma vibhushan 2008 second highest civilian honour padma bhushan 2000 third highest civilian honour',
 '[4] born 1937 heir tata family son naval tata later adopted ratanji tata son jamsetji tata founder tata group',
 'alumnus cornell university college architecture harvard business school advanced management program completed 1975',
 '[5] joined company 1961 used work shop floor tata steel apparent successor j r tata upon latter retirement 1991',
 'got tata tea acquire tetley tata motor acquire jaguar land rover tata steel acquire corus attempt turn tata largely india centrist group global business',
 'around 60 65 profit donated charity making one significant philanthropist world']

In [136]:
# new test data
data = ["I want to have food"]
data = ["I want to visit ratan tata"]
cv.transform(data).toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [137]:
import pickle
pickle.dump(open('tfidf.pkl','wb'))

TypeError: dump() missing required argument 'file' (pos 2)